In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
%pwd

'C:\\Users\\chris\\Desktop\\Data_Analytics_Class\\Module_6\\World_Weather_Analysis\\Vacation_Search'

In [4]:
# Set the file path to import the WeatherPy_database.csv file
city_data_df = pd.read_csv(r'C:\Users\chris\Desktop\Data_Analytics_Class\Module_6\World_Weather_Analysis\Weather_Database/WeatherPy_database.csv')

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cabo San Lucas,MX,22.8909,-109.9124,74.52,71,54,8.77,broken clouds
1,1,Saint George,US,37.1041,-113.5841,38.25,65,0,5.75,clear sky
2,2,Busselton,AU,-33.6500,115.3333,52.56,66,12,11.56,few clouds
3,3,Altamira,BR,-3.2033,-52.2064,80.69,89,40,3.44,scattered clouds
4,4,Ahuimanu,US,21.4447,-157.8378,76.75,75,75,4.61,broken clouds
5,5,Saint-Philippe,RE,-21.3585,55.7679,80.19,81,27,8.23,scattered clouds
6,6,Yellowknife,CA,62.4560,-114.3525,15.57,85,64,15.01,broken clouds
7,7,Chokurdakh,RU,70.6333,147.9167,-19.14,98,100,6.40,overcast clouds
8,8,Coquimbo,CL,-29.9533,-71.3436,60.53,77,75,2.30,broken clouds
9,9,Rikitea,PF,-23.1203,-134.9692,73.20,87,80,6.26,broken clouds

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip"))

What is the minimum temperature you would like for your trip75
What is the maximum temperature you would like for your trip90

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Altamira,BR,-3.2033,-52.2064,80.69,89,40,3.44,scattered clouds
4,4,Ahuimanu,US,21.4447,-157.8378,76.75,75,75,4.61,broken clouds
5,5,Saint-Philippe,RE,-21.3585,55.7679,80.19,81,27,8.23,scattered clouds
10,10,Sur,OM,22.5667,59.5289,82.67,56,5,9.08,clear sky
17,17,Hermanus,ZA,-34.4187,19.2345,76.80,68,87,7.92,overcast clouds
18,18,Tumaco,CO,1.7986,-78.8156,75.83,79,100,7.36,overcast clouds
20,20,Atuona,PF,-9.8000,-139.0333,76.64,84,25,13.98,light rain
29,29,Vaini,TO,-21.2000,-175.2000,77.16,94,40,3.44,scattered clouds
34,34,Coahuayana,MX,18.7333,-103.6833,76.01,91,99,1.59,overcast clouds
36,36,Soyo,AO,-6.1349,12.3689,80.33,71,100,7.81,overcast clouds

In [7]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
preferred_cities_df.isnull().sum()

clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Altamira,BR,-3.2033,-52.2064,80.69,89,40,3.44,scattered clouds
4,4,Ahuimanu,US,21.4447,-157.8378,76.75,75,75,4.61,broken clouds
5,5,Saint-Philippe,RE,-21.3585,55.7679,80.19,81,27,8.23,scattered clouds
10,10,Sur,OM,22.5667,59.5289,82.67,56,5,9.08,clear sky
17,17,Hermanus,ZA,-34.4187,19.2345,76.80,68,87,7.92,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
670,670,Puerto Ayacucho,VE,5.6639,-67.6236,80.02,78,57,0.81,broken clouds
674,674,Impfondo,CG,1.6381,18.0667,84.18,65,43,1.99,light rain
675,675,Sulangan,PH,11.1373,123.7228,83.28,77,18,9.35,few clouds
677,677,Luganville,VU,-15.5333,167.1667,79.21,86,100,5.66,overcast clouds
682,682,Bull Savanna,JM,17.8868,-77.5902,76.73,83,99,6.91,overcast clouds

In [8]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

#Display sample data

hotel_df.head(10)

              City Country  Max Temp Current Description      Lat       Lng
3         Altamira      BR     80.69    scattered clouds  -3.2033  -52.2064
4         Ahuimanu      US     76.75       broken clouds  21.4447 -157.8378
5   Saint-Philippe      RE     80.19    scattered clouds -21.3585   55.7679
10             Sur      OM     82.67           clear sky  22.5667   59.5289
17        Hermanus      ZA     76.80     overcast clouds -34.4187   19.2345
18          Tumaco      CO     75.83     overcast clouds   1.7986  -78.8156
20          Atuona      PF     76.64          light rain  -9.8000 -139.0333
29           Vaini      TO     77.16    scattered clouds -21.2000 -175.2000
34      Coahuayana      MX     76.01     overcast clouds  18.7333 -103.6833
36            Soyo      AO     80.33     overcast clouds  -6.1349   12.3689

In [9]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Altamira,BR,80.69,scattered clouds,-3.2033,-52.2064,
4,Ahuimanu,US,76.75,broken clouds,21.4447,-157.8378,
5,Saint-Philippe,RE,80.19,scattered clouds,-21.3585,55.7679,
10,Sur,OM,82.67,clear sky,22.5667,59.5289,
17,Hermanus,ZA,76.80,overcast clouds,-34.4187,19.2345,
18,Tumaco,CO,75.83,overcast clouds,1.7986,-78.8156,
20,Atuona,PF,76.64,light rain,-9.8000,-139.0333,
29,Vaini,TO,77.16,scattered clouds,-21.2000,-175.2000,
34,Coahuayana,MX,76.01,overcast clouds,18.7333,-103.6833,
36,Soyo,AO,80.33,overcast clouds,-6.1349,12.3689,

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [11]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# Drop the rows where there is no Hotel Name.
hotel_df.isnull().sum()

# Display sample data
clean_hotel_df = hotel_df.dropna()

In [13]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [14]:
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Requinte Hotel</dd>\n<dt>City</dt><dd>Altamira</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Bay Resort</dd>\n<dt>City</dt><dd>Ahuimanu</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.75 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sur Plaza Hotel</dd>\n<dt>City</dt><dd>Sur</dd>\n<dt>Country</dt><dd>OM</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Misty Waves Boutique Hotel</dd>\n<dt>City</dt><dd>Hermanus</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Calle nueva creación</dd>\n<dt>City</dt><dd>Tumaco</dd>\n<dt>Country</dt><dd>CO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 76.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>El rranchito michuacan de ocampos</dd>\n<dt>City</dt><dd>Coahuayana</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.01 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Hospedaria ndozi'ame</dd>\n<dt>City</dt><dd>Soyo</dd>\n<dt>Country</dt><dd>AO</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.33 °F</dd>\n</dl>\n"]

In [15]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3   -3.2033  -52.2064
4   21.4447 -157.8378
5  -21.3585   55.7679
10  22.5667   59.5289
17 -34.4187   19.2345
18   1.7986  -78.8156
20  -9.8000 -139.0333
29 -21.2000 -175.2000
34  18.7333 -103.6833
36  -6.1349   12.3689

In [16]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map(fig)
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))